@import './style.css';

.text {
	color: var(--textcolor);
}

.text-primary {
	color: var(--primarycolor);
}

.text-hover {
	color: var(--hovercolor);
}

.text-link {
	color: var(--primarycolor);
	text-decoration: none;
	color: var(--primarycolor);
	font-weight: 700;
}

.text-bold {
	font-weight: bold;
}

.badge-current {
	padding: 3px;
	color: #fff;
	background-color: var(--primarycolor);
	border-radius: 4px;
	font-weight: 700;
}
